.contact{
    display: flex;
    flex-direction: column;
    height: 70vh;
    /* justify-content: space-between; */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 15vh;
}

.contact-form{
    display:flex;
    flex-direction: row;
    margin: 3vw;
    /* background-color: red; */
    justify-content: space-between;
}

.contact-form .info{
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-around;
    /* background-color: green; */
}
.contact form{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
input, textarea {
    background: none;
    border: none;
    border-bottom: 2px #f8ba96 solid;
    width: 300px;
    padding-top: 50px;
    outline: none;
    font-size: large;
    color: rgba(0, 0, 0, 0.5);
}
input::placeholder,textarea::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    color: rgba(0, 0, 0, 0.3);
}
textarea{
    width: 700px;
}

.row{
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button{
    width: 90px;
    height: 50px;
    background: #F76B1C;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 2vh;
    border: none;
    color: white;
}
button:hover{
    transform: scale(1.03);
    cursor: pointer;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.column{
    display: flex;
    flex-direction: column;
}
.icon img{
    width: 3vw;
}
