
.navbar{
    background-color: rgba(0, 0, 0,1);
    /* background-color:#101010; */
    color: white;
    height: 7vh;
    width: 100vw;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
}

.navbar .navlinks{
    color: whitesmoke;
    padding-right: 2vw;
    font-size: 1.7vw;
    text-decoration: none;
}

@media only screen
    and (max-width: 1024px){
    .navbar{
        /* background-color: red; */
        justify-content: space-around;
    }
    .navbar .navlinks{
        /* color: green; */
        padding-right: 2vw;
        font-size: 5vw;
        text-decoration: none;
    }


}
