.projects{
    display: flex;
    flex-direction: column;
    height: 70vh;
    /* justify-content: space-between; */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;
    padding-bottom: 15vh;
    color: rgba(0, 0, 0, 0.6);
}

.projects-container{
    width: 80vw;
    margin-top: 10vh;
    /* background-color: greenyellow; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}

.projects-container div{
    width: 17vw;
    height: 30vh;
}


.cards {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cards .card_img{
    width: 18vw;
    height: 30vh;
    border-radius: 5px;

}

.cards:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.modal_demo #video {
    width: 500px;
    padding: 20px;
}

.modal_img{
    width: 13vw;
    height: 20vh;
    padding: 0.5vw;
}

.modal_img:hover{
    transform: scale(1.05);
}

#links a{
    padding: 40px;
    text-decoration: none;
    margin-top: 20vh;
    /* overflow: hidden; */
    color: black;
    font-size: 20px;
}
#links a:hover{
    color: #F76B1C;
    font-size: 21px;
}

#tech {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
}
#tech h4{
    margin-bottom: 0;
}
#tech-items{
    display: flex;
    flex-direction: row;
}


.item{
    padding: 0.5vw;
}

#details{
    text-align: center;
    margin-right: 2vw;
    margin-left: 2vw;
}

@media only screen
    and (max-width: 1024px){

    .projects{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .projects h1{
        margin-bottom: -5vh;
        font-size: 7vw;
    }
   .projects-container{
       flex-direction: column;
       height: 150vh;
       padding-bottom: 50px;
   }
   .projects-container h3{
       width: 50vw;
       padding-left: 15vw;
       font-size: 6vw;
       margin: 0;
   }
   #proj{
       margin-bottom: 20vh;
       margin: 0 auto;
       margin-left: 2.5vw;
   }
   #proj img{
       width: 75vw;
   }
   #desc{
       text-align: center;
       width: 70vw;
       padding-left: 5vw;
   }
   .desc{
       font-size: 4vw;
       width: 200px;
       text-align: center;
   }

   .modal{
       justify-content: flex-start;
       padding-top: 0vh;
   }

   .modal h1{
       font-size: 7vw;
   }

   #links a{
       font-size: 5vw;
   }

   .modal_demo{
       width: 60vw;
       margin-left: -10vw;
   }
   #details{
       font-size: 3vw;
   }
   #tech{
       width: 60vw;
       height: auto;
       text-align: center;
       display: flex;
       flex-direction: column;
   }
   #tech h4{
       font-size: 4vw;
       margin: 0;
   }
   #tech-items{
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       font-size: 4vw;
   }

   .modal_demo #video{
       width: 80vw;
   }

   #links a{
       color: #F76B1C;
       text-decoration: underline;
   }
}
