.skills{
    padding-top: 10vh;
    height: 120vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.7);
}

.skills .container {
    /* padding-top: 10vh;
    height: 80vh; */
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
}

.skills .new-skill{
    padding-top: 20px;
    width: 300px;
    height: 200px;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    text-align: center;
}

.new-skill img{
    margin: 0 auto;
    width: 100px;
}

@media only screen
    and (max-width: 1024px){
    .skills h1{
        margin: 0;
        font-size: 7vw;
    }
    .skills {
        height: 180vh;
    }

    .container {
        justify-content: center;
        align-items: center;
    }
    .new-skill.node{
        padding-top: 10vh;
    }

    .new-skill.css{
        margin-top: -6vh;
    }
    #skill {
        width: 40vw;
        height: 18vh;
        font-size: 4vw;
    }
}
