@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Nerko+One&display=swap');
body{
    margin: 0;
    background-color: #181616;
    /* background-color: #e0dede; */
    /* background-color: black; */
}
.main{
    width: 80vw;
    /* background-color: #f2f2f2; */
    /* background-color: black; */
    /* background-color: #F76B1C; */
    margin: 0 auto;
    padding-top: 7.5vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section{
    background-color: #ffd2b8;
    width: 100%;
    margin-top: 5vh;
    color: rgba(0, 0, 0, 0.6);
}

h1, h3 {
    color: rgba(0, 0, 0, 0.6);
}
a{
    /* text-decoration: none; */
    color: currentColor;
}
